extends layout

block content
  h1= title
  sos grande #{title}

      h1 sdhbelskajbsdkjfx
    #chanfle.col
      if title = ogrox
        p sos el ogro
      else
        p NO SOS EL OGRO
      p.
        lksdfkahskhjdg
  .container
    input(type="text", ng-model="MiNombre")
    hr
    {{MiNombre}}